


.btn-flip{
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  width: 100%;  
  border-radius: 15px;
  background-color: #AAD5D5;
  margin: 3%;
  
}


.btn-flip:hover{
  background-color: transparent;
}

/* Author: Alex Moore
Coded in: HTML, CSS (SCSS);
#17 Button Flip
https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */