

.selectorContainer{
    overflow-y: scroll;
    max-height: 60vh;
}

/* .roomButton{
    width:100%;
    cursor: pointer;
    padding: 2%;
    margin:1%;

} */

.dropDownMenu{
    margin-bottom: 3%;
    border-radius: 15px;
    padding:1%;
}