*{
    box-sizing: border-box;
}

.dropDownMenu{
    border: none;

}

.rightContainer{
    height: 100%;
    background-color: #6A6AD2;
    padding:1rem;
    display: flex;
    align-items: center;
}

.floor-list-container{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
    .floor-list-container >li{
        cursor: pointer;
        padding: 1rem;
        height:100%;
    }

    .selectorContainer{
        
        height: 100%;
        width: 100%;
        position: relative;
        overflow: visible;

    }

    .ant-slider .ant-slider-mark-text-active{
        color:#6A6AD2;
        font-weight: 500;
    }

    .ant-slider:hover .ant-slider-track{
        background-color: #73a2ff;
    }
    
    .ant-slider .ant-slider-handle::after{
        box-shadow: none;
    }
    
    .ant-slider .ant-slider-handle:hover::after, .ant-slider .ant-slider-handle:active::after, .ant-slider .ant-slider-handle:focus::after 
    {        box-shadow:none;
    }

    .feedback-component h3{
        color: #73a2ff;
        text-align: center;
    }

    .spinner{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ant-spin-dot-item { background-color: #AAD5D5 !important; }

    .buttonContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 1%;
    }

    .btn{
        width: 30%;
    }

    .contentRef1{
        width: 100%;
    }

    .contentRef1 .back-arrow img{
        width:5%;
        cursor: pointer;
       position: fixed;
        top:0;
    }

    .svgContainer .back-arrow {
        width: 100%;
    }
    .svgContainer .back-arrow .circleClose{
        width:50%;
        cursor: pointer;
        margin: 0.5rem;
    }

    .svgContainer {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5); 
      }
      
  

    

    .contentRef1 .title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

   

    .contentRef1 .conditions-component{
        background-color: #AAD5D5 ;
        padding: 0.5rem;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex: 1 0;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .contentRef1 .feedback-component{
            background-color: #AAD5D5 ;
            padding: 0.5rem;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            flex: 1 0;
            justify-content: space-between;
            align-items: center;
        }


    .feedback-component .question{
        width:100%;
        padding: 0.5rem;
    }

    .submitBtn{
        text-decoration: none;
        color: #fff;
    }
    
    .slider-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .conditions-component .thermal-conditions{
        display: flex;
        flex-direction: row;
        flex: 1;
        max-width: 70%;
        align-items: center;
        justify-content: flex-start;
    }

    .conditions-component h1{
        font-size: 40px;
        flex: 0 1 auto;
    }

    .conditions-component p{
        flex: 1 1 auto;
    }

    .contentRef2{
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
    }

    .svgFloating {
        animation: updown 3s ease infinite !important;
        width:60%;
    }

    @keyframes updown{
        10% {
            transform: translateY(10%);
        }
    }

    .ant-slider{
        width:100% !important;
    }

    .floor-list{
        background: #fff;
        visibility: hidden;  
        opacity: 0;          
        min-width: 5rem;
        position: absolute;
        margin-top: 1rem;
        z-index: 1000;
        transform-origin: top;
        transition: visibility 0s linear 1s, opacity 1s ease, transform 1s ease; 
        transform: scaleY(0);
        border-radius: 5px;



    
    }

        .floor-list li{
                display: block;
                padding: 0.5em 2em;
                color: #444;
                font-size: .9em;
                text-decoration: none;
                
        }
            

        .trigger:hover .floor-list{
            visibility: visible;
            opacity: 1;
            transform: scaleY(1);
            transition-delay: 0s;
        }

        .floor-list .floor-item{
            transition: opacity 1s ease, transform 1s ease;
        }

        .floor-list .floor-item:hover{
            transform: scale(1.2);
        }

        .floor-list .selector-indication{
            display: flex;
            align-items: center;
        }


        .contentRef1 .top-part{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contentRef1 .badge {
            width: 40%;
        }



   

           