
svg {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    display: block;  
}
svg rect[id] {
    transition: fill 0.5s ease;
    stroke-width: 0;
    fill: #AAD5D5;
    
}


/* svg rect:not([id]) {
    fill:grey;
    
} */
svg path[id] {
    transition: fill 0.5s ease;
    stroke-width: 0;
    fill: #AAD5D5;
}

svg image{
    fill:#538dffff;
}

svg rect[id]:hover{
    fill:#191970;
    cursor: pointer;
    
}

svg path[id]:hover{
    fill:#191970;
    cursor: pointer;
    
}
svg {
    border: none;
}